.div {
  height: 2px;
  width: 0%;
  background-color: #24f8c7;
  transition: 0.5s;
}
.lin:hover .div {
  width: 100%;
}
.hoverEffect {
  transition: transform 5s ease; /* Add transition property */
}
